.room-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.room-logo {
  height: 150px;
}
.booking-title {
  text-align: center;
  margin-bottom: 25px;
}

.booking-form {
  max-width: 400px;
  margin: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 8px;
  font-size: 14px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #1f3a5f;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
