.room-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  background: #fff;
  border-bottom: 1px solid #eee;
   background-color: rgb(0, 0, 51);
}

.room-logo {
  height: 110px;
  background-color: rgb(0, 0, 51);
}
.booking-title {
  text-align: center;
  margin-bottom: 25px;
  color:rgb(0, 0, 51);
}

.booking-form {
  max-width: 400px;
  margin: auto;
  color: #f3e8d9;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #234a6e;
}

.form-group input {
  padding: 8px;
  font-size: 14px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: rgb(0, 0, 51);
  color: #c9a86a;
  border: none;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgb(0,0,51);
  text-decoration: none;
  border-radius: 25px;
}
body{
  background-color: #f3e8d9;
}
.booking-sheet {
  background-color: #f5e9dc;
  max-width: 700px;
  margin: 40px auto;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgb(0, 0, 0);
}
.booking-form {
  color: #333;
}

.form-group label {
  color: #1f1f1f;
}

.form-group input {
  border: 1px solid #ccc;
  border-radius: 6px;
}