.room-logo {
  height: 120px;
  top: 6px;
  position: relative;

}
.room-header {
  display: flex;
  align-items: center;
  padding: -5px ;
  margin-right:auto;
  background: #fff;
  border-bottom: 1px solid #eee;
  background-color: rgb(0, 0, 51);
  height: 50px;
}
.logo-link {
  text-decoration: none; 
  color: inherit;      
}

.logo-link:hover {
  opacity: 0.85;
}
.navbar {
  background-color: rgb(0, 0, 51);
  padding: 1px;
  margin-top: -35px;
  display:flex;
  justify-content: center; 
  top: 6px;
}

.navbar a {
  padding: 14px 20px;
  display: block;
  color: #c9a86a;
  text-decoration: none;
  font-size: 18px;
  font-family: Arial;
}
.navbar a:hover {
  background-color:rgb(0, 0, 51);
}
.about-team{
  max-width: 1200px;
  margin: 19px auto;
  padding: 20px 40px;
  background:#f3e8d9;
  border-radius: 10px;
  box-shadow: 0 3px 12px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

.about-team-title{
  text-align: center;
  margin: 0;
  color: #234A6E;
}

.about-team-subtitle{
  text-align: center;
  margin: 8px 0 0;
  color: #444;
}
.team-title{
  margin-top: 30px;
  color: #234A6E;
}
.team-cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;  
}

.team-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  width: 220px;
  height: 150px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;           
  flex-direction: column;   
  align-items: center;       
}

.team-card img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;  
  display: block;           
}


.team-card h3 {
  margin: 8px 0 4px;
  color: #234A6E;
  font-size: 16px;
}

.team-card p {
  margin: 0;
  color: #777;
  font-size: 14px;
}
