.room-header {
  display: flex;
  flex-direction: column;  
  align-items: center;      
  justify-content: center;
  padding: 15px 0;
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
}

.room-logo {
  height: 150px;       
  margin-right: 7px; 
}


.gallery-360 {
    max-width: 1100px;    
    margin: 30px auto;     
}


.big-img img {
    width: 100%;          
    height: 350px;
    object-fit: cover;    
    border-radius: 18px;
}


.small-row {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 14px;
    overflow-x: auto;       
    padding-bottom: 10px;
}


.small-row img {
    width: 180px;
    height: 110px;
    object-fit: cover;     
    border-radius: 12px;
    flex-shrink: 0;         
}