.room-header {
  display: flex;
  align-items: center;
  padding: -5px ;
  margin-right:auto;
  background: #fff;
  border-bottom: 1px solid #eee;
  background-color: rgb(0, 0, 51);
  height: 50px;
}
.room-logo {
  height: 120px;
  top: 6px;
  position: relative;

}
.navbar {
 background-color: rgb(0, 0, 51);
  padding: 1px;
  margin-top: -35px;
  display:flex;
  justify-content: center; 
  top: 6px;
}

.navbar a {
  padding: 14px 20px;
  display: block;
  color: #c9a86a;
  text-decoration: none;
  font-size: 18px;
  font-family: Arial;
}
.navbar a:hover {
  background-color:rgb(0, 0, 51);
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background:#f3e8d9;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgb(0,0,51);
  transition: 0.3s;
  text-align: center;
  padding-bottom: 15px;
  
}
h3{
  color:rgb(0, 0, 51);
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card h3 {
  font-size: 18px;
  margin: 12px 0 5px;
}

.card .type {
  font-size: 14px;
  color: #777;
  margin: 0;
}

.card .price {
  font-size: 18px;
  font-weight: bold;
   color: #C9A86A;
  letter-spacing: 2px;
  margin-top: 8px;
}
.half-star{
  display:inline-block;
  width:.4em;
  overflow:hidden;
  vertical-align:bottom;
}
.card h1 {
  display: flex;
  justify-content: space-between;
}  
@media (max-width: 550%) {
  .room-header {
  display: flex;
  align-items: center;
  padding: -5px ;
  margin-right:auto;
  background: #fff;
  border-bottom: 1px solid #eee;
  background-color: rgb(0, 0, 51);
  height: 50px;
}
.room-logo {
  height: 120px;
  top: 6px;
  position: relative;
}
.navbar {
 background-color: rgb(0, 0, 51);
  padding: 1px;
  margin-top: -35px;
  display:flex;
  justify-content: center; 
  top: 6px;
}

.navbar a {
  padding: 14px 20px;
  display: block;
  color: #c9a86a;
  text-decoration: none;
  font-size: 18px;
  font-family: Arial;
}
.navbar a:hover {
  background-color:rgb(0, 0, 51);
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background:#f3e8d9;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgb(0,0,51);
  transition: 0.3s;
  text-align: center;
  padding-bottom: 15px;
  
}
h3{
  color:rgb(0, 0, 51);
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card h3 {
  font-size: 18px;
  margin: 12px 0 5px;
}

.card .type {
  font-size: 14px;
  color: #777;
  margin: 0;
}

.card .price {
  font-size: 18px;
  font-weight: bold;
   color: #C9A86A;
  letter-spacing: 2px;
  margin-top: 8px;
}
.half-star {
  display:inline-block;
  width:.4em;
  overflow:hidden;
  vertical-align:bottom;
}
.card h1 {
  display: flex;
  justify-content: space-between;
}  

}

