*{
  margin: 0%;
  padding: 0%;
}
html, body {
margin:0;
padding:0; 
}
#div-1{
    border: 4px solid rgb(167, 109, 1);
}

.navbar {
  background-color: rgb(0, 0, 51);
  padding: 1px;
  margin-top: -35px;
  display:flex;
  justify-content: center; 
  top: 6px;
}

.navbar a {
  padding: 14px 20px;
  display: block;
  color: #c9a86a;
  text-decoration: none;
  font-size: 18px;
  font-family: Arial;
}
.navbar a:hover {
  background-color:rgb(0, 0, 51);
}
.room-logo {
  height: 70px;
  top: 10px;

}
.room-header {
  display: flex;
  align-items: center;
  padding: -5px ;
  margin-right:auto;
  background: #fff;
  border-bottom: 1px solid #eee;
  background-color: rgb(0, 0, 51);
  height: 70px;
}
.logo-link {
  text-decoration: none; 
  color: inherit;      
}

.logo-link:hover {
  opacity: 0.85;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  padding: 20px;
}
.card {
  background:#f3e8d9;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgb(0,0,51);
  transition: 0.3s;
  text-align: center;
  padding-bottom: 15px;
  
}
h3{
  color:#234A6E;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card h3 {
  font-size: 18px;
  margin: 12px 0 5px;
}

.card .type {
  font-size: 14px;
  color: #777;
  margin: 0;
}

.card .price {
  font-size: 18px;
  font-weight: bold;
   color: #C9A86A;
  letter-spacing: 2px;
  margin-top: 8px;
}
.half-star{
  display:inline-block;
  width:.4em;
  overflow:hidden;
  vertical-align:bottom;
}
.card h1 {
  display: flex;
  justify-content: space-between;
}  
