html, body {
margin:0;
padding:0; 
}
#div-1{

     
    border: 4px solid black;
   
}

.navbar {
  width: 100%;
  display:flex;
  justify-content: center; 
}

.navbar a {
  padding: 14px 20px;
  display: block;
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-family: Arial;
}
.navbar a:hover {
  background-color: #555;
}

.cards-container {
    display: flex;        
    justify-content: center;
    gap: 22px;      
    padding: 20px;
    background-color: #f7f7f7;
    flex-wrap: wrap;       
}
