*{
  margin: 0%;
  padding: 0%;
}
html, body {
margin:0;
padding:0; 
}
#div-1{

     
    border: 4px solid rgb(167, 109, 1);
}

.navbar {
 background-color: rgb(0, 0, 51);
  width: 99.9%;
  padding: 1px;
  display:flex;
  justify-content: center; 
}

.navbar a {
  padding: 14px 20px;
  display: block;
  color: rgb(167, 109, 1);
  text-decoration: none;
  font-size: 18px;
  font-family: Arial;
}
.navbar a:hover {
  background-color:rgb(0, 0, 51);
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 22px;
    padding: 20px;
    background-color: #ede5e5;
    flex-wrap: wrap;
}
     
