*{
  margin: 0%;
  padding: 0%;
}
html, body {
margin:0;
padding:0; 
}
#div-1{

     
    border: 4px solid rgb(167, 109, 1);
}

.navbar {
 background-color: rgb(0, 0, 51);
  width: 99.9%;
  padding: 1px;
  display:flex;
  justify-content: center; 
}

.navbar a {
  padding: 14px 20px;
  display: block;
  color: rgb(167, 109, 1);
  text-decoration: none;
  font-size: 18px;
  font-family: Arial;
}
.navbar a:hover {
  background-color:rgb(0, 0, 51);
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 22px;
    padding: 20px;
    background-color: #ede5e5;
    flex-wrap: wrap;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 20px;
  direction: ltr;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content :flex-start;
  padding: 10px 0;

}
.card {
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 350px;
  overflow: hidden;
  text-align: center;
}
     
