html, body {
margin:0;
padding:0; 
}
#div-1{

     
    border: 4px solid #010101;
   
}

.navbar {
  background-color: rgb(255, 191, 0);
  width: 100%;
  display:flex;
  justify-content: center; 
}

.navbar a {
  padding: 14px 20px;
  display: block;
  color: rgba(3, 3, 3, 0.655);
  text-decoration: none;
  font-size: 18px;
  font-family: Arial;
}
.navbar a:hover {
  background-color: #060e85f9;
}

.cards-container {
    display: flex;        
    justify-content: center;
    gap: 22px;      
    padding: 20px;
    background-color: #ede5e5;
    flex-wrap: wrap;       
}
