html, body {
margin:0;
padding:0; 
}
#div-1{

     
    border: 4px  #4b3505c6;
   
}

.navbar {
  background-color: rgba(20, 2, 84, 0.963);
  width: 100%;
  display:flex;
  justify-content: center; 
}

.navbar a {
  padding: 14px 20px;
  display: block;
  color: rgba(221, 185, 4, 0.662);
  text-decoration: none;
  font-size: 18px;
  font-family: Arial;
}
.navbar a:hover {
  background-color: #020008f9;
}

.cards-container {
    display: flex;        
    justify-content: center;
    gap: 22px;      
    padding: 20px;
    background-color: #ede5e5;
    flex-wrap: wrap;       
}
